<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="jp.co.u0235.floating_ai_robo.permission.TOOLS_READ" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <provider
            android:name=".TemplateContentProvider"
            android:authorities="jp.co.u0235.floating-ai-robo-plugin.template.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="jp.co.u0235.floating_ai_robo.permission.TOOLS_READ">
            <intent-filter>
                <action android:name="jp.co.u0235.floating_ai_robo.ACTION_TOOLS" />
            </intent-filter>
        </provider>
        <activity
            android:name=".CameraActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="jp.co.u0235.floating_ai_robo.ACTION_TOOLS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareVisionActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="jp.co.u0235.floating_ai_robo.ACTION_TOOLS" />
            </intent-filter>
        </activity>
    </application>

</manifest>